{
  "env": {
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "nomen": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 0
  }
}
