extend layout

block content
  h1 discover

  #posts
    for post in posts
      article
        time
          a(href='/post/#{post.key}', class="small")= post.value.created
        if post.value.title
          a(href='#{post.value.reply}', target="_blank")= post.value.title
        else
          a(href='#{post.value.reply}', target="_blank")= post.value.reply

    .pagination
      if next && lastKey
        a(href='/discover?last=#{lastKey}') older

block login
