extend layout

block content
  h1 discover

  #posts
    for post in posts
      article
        if post.value.title
          p
            a(href='#{post.value.reply}')= post.value.title
        else
          p
            a(href='#{post.value.reply}')= post.value.reply

    .pagination
      if next && lastKey
        a(href='/discover?last=#{lastKey}') older

block login
