light = #806658;
dark = #ffbf7f;

.small {
  font-size: 12px;
  background: none;
  text-decoration: underline;
}

.back {
  border-left: 1px solid light;
}

a:hover, a:active {
  background-color: light;
}

a {
  background-color: dark;
}

h1, h2 {
  color: light;
}

button {
  background-color: light;
}

input, textarea {
  border: 1px solid light;
}

section ul.actions li {
  border-left: 1px solid light;
  border-top: 1px solid light;
  border-bottom: 1px solid light;
}

#users li {
  border-top: 1px solid light;
  border-bottom: 1px solid light;
}

#chat {
  border: 1px solid light;
}

article {
  border-top: none;
  margin: 0;
}

@media only screen and (max-width: 719px) {

  #users li {
    border-left: 1px solid light;
  }
}